<nav class="border-b twitter-border">
    {% set is_feed_tab = request.path == '/feed' %}
    {% set is_eventos_tab = request.path.startswith('/eventos') %}
    {% set is_mural_tab = request.path.startswith('/mural') %}
    <div class="max-w-[600px] mx-auto flex justify-between items-center px-4">
        <div class="flex w-full gap-4">
            <a href="/feed" class="top-tab flex-1 py-4 text-center hover:bg-gray-100 dark:hover:bg-white/5 transition text-sm {% if is_feed_tab %}top-tab-active{% endif %}">Feed</a>
            <a href="/eventos" class="top-tab flex-1 py-4 text-center hover:bg-gray-100 dark:hover:bg-white/5 transition text-sm {% if is_eventos_tab %}top-tab-active{% endif %}">Eventos</a>
            <a href="/mural" class="top-tab flex-1 py-4 text-center hover:bg-gray-100 dark:hover:bg-white/5 transition text-sm hover:text-indigo-500 {% if is_mural_tab %}text-indigo-500 top-tab-active{% endif %}" title="Mural">
                <i class="fa-solid fa-bullhorn"></i>
            </a>
        </div>
    </div>
</nav>

